Week 6 Mini-project
by Jeff Puuri
for EdX course DSE200x - Python for Data Science

References:
Slide Template: https://docs.google.com/presentation/d/1CAXnIH7ctHePs-TVeWVKafB9c1-mxmdEKE8_ntzY_M0/edit#slide=id.g1e0c2d5179_0_5
Mini-Project Description page: https://courses.edx.org/courses/course-v1:UCSanDiegoX+DSE200x+1T2018/courseware/82d46c5420924002ab6738f6c33aea53/77277bfa5b904ac79099930f7369dd18/1?activate_block_id=block-v1%3AUCSanDiegoX%2BDSE200x%2B1T2018%2Btype%40html%2Bblock%40a7c4de0902c3413abef80f135201c19c

Data Exploration to figure out a project...

Pick a dataset: I'm a GIS guy, so it needs to be world indicators

Lots of variables, so find a couple to be of interest and value for a study

In [1]:
# Using NBs from wk 5, import the libraries we'll need
import pandas as pd
import numpy as np
#import random
import matplotlib.pyplot as plt
import folium

In [4]:
# Read in the data once injto a dataframe named df, it is a big dataset
df = pd.read_csv('D:/PjtData/4_PD/edX_DSE200x/wk5_Matplotlib/Indicators.csv')
#df = pd.read_csv('C:/PrjData/4_PD/DSE200x/wk5_Matplotlib/Indicators.csv')
df.shape

(5656458, 6)

In [5]:
# Here's the list of columns to use for future filters
df.columns

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year',
       'Value'],
      dtype='object')

In [6]:
# Variables are going to be in the IndicatorName column, so look at what is available
# via .unique() which produces a numpy ndarray, so must cast back to pandas dataframe
# to export to excel so that I can see the list 
indicator_list = pd.DataFrame(df['IndicatorName'].unique())
type(indicator_list)

pandas.core.frame.DataFrame

In [7]:
# Send to Excel for interactive filter and sort tools to find interesting variables to study
# Comment this out once variable are decided because we don't need to regenerate the spreadsheet time after time,
# but leave it here so others can see the methodology and tools used during data exploration
#indicator_list.to_excel('D:/PjtData/4_PD/edX_DSE200x/wk5_Matplotlib/Indicators.xlsx', sheet_name='Indicators')

After review in Excel, going with:
* Renewable internal freshwater resources per capita (cubic meters)
* GDP per capita (current US\$), or maybe
* Adjusted net national income per capita (current US$)

Because it is reported there is a water crisis in developing countries,
I would like to see the disparity in terms of: per capita GDP or income

In [14]:
h2oInd = 'Renewable internal freshwater resources per capita (cubic meters)'
incInd = 'Adjusted net national income per capita (current US$)'
dfh20 = df[df['IndicatorName'] == h2oInd]
dfinc = df[df['IndicatorName'] == incInd]
print(dfh20['Year'].min(), dfh20['Year'].max(), dfinc['Year'].min(), dfinc['Year'].max())

1962 2013 1970 2013

In [44]:
yrMask = df['Year'] == 1972
h2oMask = df['IndicatorName'] == h2oInd
incMask = df['IndicatorName'] == incInd
#df[h2oMask].Year.unique().tolist()
#df[incMask].Year.unique().tolist()
set72h2o = df[(yrMask) & (h2oMask)]
set72inc = df[(yrMask) & (incMask)]
print(set72h2o.count(), set72inc.count())

CountryName      180
CountryCode      180
IndicatorName    180
IndicatorCode    180
Year             180
Value            180
dtype: int64 CountryName      129
CountryCode      129
IndicatorName    129
IndicatorCode    129
Year             129
Value            129
dtype: int64

In [45]:
set72 = set72h2o.merge(set72inc, on=['CountryCode'],how='left')
set72

,CountryName_x,CountryCode,IndicatorName_x,IndicatorCode_x,Year_x,Value_x,CountryName_y,IndicatorName_y,IndicatorCode_y,Year_y,Value_y
0,Arab World,ARB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1018.386484,NaN,NaN,NaN,NaN,NaN
1,Caribbean small states,CSS,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,77322.745771,Caribbean small states,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,805.715154
2,Central Europe and the Baltics,CEB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1690.781140,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific (all income levels),EAS,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,7565.189613,East Asia & Pacific (all income levels),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,362.267143
4,East Asia & Pacific (developing only),EAP,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,7463.472622,East Asia & Pacific (developing only),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,115.433579
5,Euro area,EMU,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,3359.401872,Euro area,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,2674.924799
6,European Union,EUU,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,3283.689227,European Union,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,2280.283721
7,Fragile and conflict affected situations,FCS,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,20719.204395,NaN,NaN,NaN,NaN,NaN
8,Heavily indebted poor countries (HIPC),HPC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,21235.074744,Heavily indebted poor countries (HIPC),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,157.243622
9,High income,HIC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,12683.574391,High income,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,2688.132428
10,High income: OECD,OEC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,12193.373642,High income: OECD,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,3171.254972
11,Latin America & Caribbean (all income levels),LCN,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,44528.330801,Latin America & Caribbean (all income levels),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,648.562216
12,Latin America & Caribbean (developing only),LAC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,46376.137218,Latin America & Caribbean (developing only),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,537.595790
13,Least developed countries: UN classification,LDC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,15632.464422,NaN,NaN,NaN,NaN,NaN
14,Low & middle income,LMY,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,10036.544022,Low & middle income,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,177.059448
15,Low income,LIC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,16310.750289,NaN,NaN,NaN,NaN,NaN
16,Lower middle income,LMC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,7418.373900,Lower middle income,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,129.227084
17,Middle East & North Africa (all income levels),MEA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1575.503781,NaN,NaN,NaN,NaN,NaN
18,Middle East & North Africa (developing only),MNA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1682.473822,NaN,NaN,NaN,NaN,NaN
19,Middle income,MIC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,9597.302758,Middle income,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,182.227363
20,North America,NAC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,24442.662553,North America,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,5208.059855
21,OECD members,OED,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,11650.226011,OECD members,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,2915.404997
22,Other small states,OSS,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,42400.433453,NaN,NaN,NaN,NaN,NaN
23,Small states,SST,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,57843.529376,Small states,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,473.388795
24,South Asia,SAS,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,2679.068200,South Asia,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,113.974228
25,Sub-Saharan Africa (all income levels),SSF,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,13811.209979,Sub-Saharan Africa (all income levels),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,212.986829
26,Sub-Saharan Africa (developing only),SSA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,13729.378667,Sub-Saharan Africa (developing only),Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,211.717708
27,Upper middle income,UMC,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,11541.187122,Upper middle income,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,232.806403
28,World,WLD,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,10685.246169,World,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,856.407710
29,Afghanistan,AFG,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,4024.103312,Afghanistan,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,129.198572
...,...,...,...,...,...,...,...,...,...,...,...
150,Singapore,SGP,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,278.758595,NaN,NaN,NaN,NaN,NaN
151,Solomon Islands,SLB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,258981.801749,Solomon Islands,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,135.965649
152,Somalia,SOM,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1719.052401,NaN,NaN,NaN,NaN,NaN
153,South Africa,ZAF,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1937.190406,South Africa,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,753.636615
154,Spain,ESP,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,3222.935709,Spain,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,1499.118071
155,Sri Lanka,LKA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,4105.435036,Sri Lanka,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,171.302640
156,St. Kitts and Nevis,KNA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,541.418517,NaN,NaN,NaN,NaN,NaN
157,Sudan,SDN,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,2035.037650,NaN,NaN,NaN,NaN,NaN
158,Suriname,SUR,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,236993.628103,Suriname,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,520.458538
159,Swaziland,SWZ,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,5589.229724,Swaziland,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,237.013716
160,Sweden,SWE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,21053.149970,Sweden,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,5296.020921
161,Switzerland,CHE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,6452.688695,NaN,NaN,NaN,NaN,NaN
162,Syrian Arab Republic,SYR,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,1044.405540,Syrian Arab Republic,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,440.284088
163,Tanzania,TZA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,5790.509300,NaN,NaN,NaN,NaN,NaN
164,Thailand,THA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,5747.273712,Thailand,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,183.860284
165,Timor-Leste,TMP,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,12914.636064,NaN,NaN,NaN,NaN,NaN
166,Togo,TGO,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,5116.625697,Togo,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,130.896604
167,Trinidad and Tobago,TTO,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,3963.903702,Trinidad and Tobago,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,838.665314
168,Tunisia,TUN,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,792.357855,Tunisia,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,377.262935
169,Turkey,TUR,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,6223.379972,Turkey,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,522.496616
170,Uganda,UGA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,3904.560136,Uganda,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,130.476235
171,United Arab Emirates,ARE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,462.864390,NaN,NaN,NaN,NaN,NaN
172,United Kingdom,GBR,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,2585.312412,United Kingdom,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,2645.470213
173,United States,USA,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,13425.696535,United States,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,5301.269910
174,Uruguay,URY,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,20911.329936,Uruguay,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,711.072639
175,"Venezuela, RB",VEN,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,58796.555616,"Venezuela, RB",Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,1001.567385
176,Vietnam,VNM,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,8029.849412,NaN,NaN,NaN,NaN,NaN
177,"Yemen, Rep.",YEM,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,329.639332,NaN,NaN,NaN,NaN,NaN
178,Zambia,ZMB,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,17885.253831,Zambia,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,295.862225
179,Zimbabwe,ZWE,Renewable internal freshwater resources per ca...,ER.H2O.INTR.PC,1972,2199.769186,Zimbabwe,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,1972.0,463.361550