** JLP pandas notes from DSE200x course (week 4 + addtl techniques shown in subsequent weeks)**

Main pandas structures:
* Series
* DataFrames

# Series
```
ser = df['col'] - Series are designated from dataq frames using single brackets
ser.unique() - returns a numpy ndarray
ser.unique().tolist() - returns a regular old python list - can use directly on a series as well
ser.tolist()
ser.str.func() - where func is some kind of string function

min(list) - min value from list
max(list) - max value from list
```

# DataFrames
Reading in data from sets:
```
df = pd.read_csv('path_to_csv_file')
```
Filtering DataFrames using Series

In [2]:
# Setup for practice sections
import pandas as pd

In [3]:
# Practice dataset
cz = pd.read_csv('D:/PjtData/1_JJC/RelocFrVa/City_Zhvi_Summary_AllHomes.csv')
cz.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
0,2017-12-31,6181,New York,NY,New York,Queens,0,710300,0.003674,0.022309,0.140311,0.090164,0.033117,2017-12,2017-Q4,710300,0.000000,2017-12
1,2017-12-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,658500,0.007651,0.025541,0.084308,0.101554,0.017430,2017-12,2017-Q4,658500,0.000000,2017-12
2,2017-12-31,17426,Chicago,IL,Chicago,Cook,2,221000,0.000453,-0.003157,0.032228,0.057254,-0.010820,2007-02,2007-Q1,247200,-0.105987,2005-01
3,2017-12-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,144600,0.006263,0.024805,0.091321,0.053554,0.018823,2017-12,2017-Q4,144600,0.000000,2017-12
4,2017-12-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,223700,0.001791,0.016356,0.094423,0.111267,-0.000890,2006-07,2006-Q3,245800,-0.089910,2005-10