Study Sandbox for Final Exam DSE200X

In [141]:
# All Imports go here
import numpy as np
import pandas as pd
import os.path
import sqlite3
import matplotlib.pyplot as plt

In [142]:
# Also set data file constants up here
pjtdata_path = 'D:/PjtData/5_LP/SBL'
datafile_18 = 'NHLHockeyRef18.csv'
datafile_pre18 = 'NHLKaggleStats.csv'

## Load Data

In [143]:
# os.path
fullpath_datafile_18 = os.path.join(pjtdata_path, datafile_18)
fullpath_datafile_pre18 = os.path.join(pjtdata_path, datafile_pre18)
file_size18 = os.path.getsize(fullpath_datafile_18)
file_sizepre18 = os.path.getsize(fullpath_datafile_pre18)
file_size18, file_sizepre18

(91068, 1455673)

In [144]:
df18 = pd.read_csv(fullpath_datafile_18, sep=',')
dfpre18 = pd.read_csv(fullpath_datafile_pre18, sep=',')

In [145]:
dfpre18.columns

Index(['HockeyRefID', 'Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS',
       'PM', 'PIM', 'PS', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA',
       'SOG', 'SPCT', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FOPCT',
       'HART', 'Votes', 'Season'],
      dtype='object')

In [146]:
df18.columns

Index(['HockeyRefID', 'Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS',
       'PM', 'PIM', 'PS', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA',
       'SOG', 'SPCT', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FOPCT'],
      dtype='object')

In [147]:
dfpre18.drop(['HART', 'Votes'], axis=1, inplace=True)
df18['Season'] = 2018

In [148]:
df18.head(), dfpre18.head()

(  HockeyRefID          Player  Age   Tm Pos  GP   G   A  PTS  PM   ...    SOG  \
 0   kulakbr01     Brett Kulak   24  CGY   D  71   2   6    8  -3   ...     73
 1   jennebo01    Boone Jenner   24  CBJ   C  75  13  19   32   1   ...    187
 2   lindhan01  Anton Lindholm   23  COL   D  48   0   4    4   4   ...     22
 3   megnaja01    Jayson Megna   27  VAN   C   1   0   0    0   0   ...      0
 4   fowleca01      Cam Fowler   26  ANA   D  67   8  24   32   3   ...    122

    SPCT   TOI   ATOI    BLK  HIT    FOW    FOL  FOPCT  Season
 0   2.7   922  12:59   49.0   45    0.0    0.0    NaN    2018
 1   7.0  1235  16:28   83.0  205  268.0  215.0   55.5    2018
 2   0.0   632  13:10   51.0   99    0.0    0.0    NaN    2018
 3   NaN     4   4:18    0.0    0    0.0    2.0    0.0    2018
 4   6.6  1665  24:51  108.0   21    1.0    1.0   50.0    2018

 [5 rows x 29 columns],
   HockeyRefID             Player  Age   Tm Pos  GP   G   A  PTS  PM   ...    \
 0   mcdavco01     Connor McDavid   20  EDM   C  82  30  70  100  27   ...
 1   crosbsi01      Sidney Crosby   29  PIT   C  75  44  45   89  17   ...
 2    kanepa01       Patrick Kane   28  CHI  RW  82  34  55   89  11   ...
 3   backsni02  Nicklas Backstrom   29  WSH   C  82  23  63   86  17   ...
 4   kucheni01    Nikita Kucherov   23  TBL  RW  74  40  45   85  13   ...

    SOG  SPCT   TOI       ATOI  BLK  HIT  FOW  FOL  FOPCT  Season
 0  251  12.0  1733  21.133333   29   34  348  458   43.2    2017
 1  255  17.3  1491  19.883333   27   80  842  906   48.2    2017
 2  292  11.6  1754  21.400000   15   28    7   44   13.7    2017
 3  162  14.2  1497  18.266667   33   45  685  648   51.4    2017
 4  246  16.3  1438  19.433333   20   30    0    0    0.0    2017

 [5 rows x 29 columns])

In [149]:
df18['H'], df18['M'] = df18['ATOI'].str.split(':').str
df18['H'] = df18['H'].astype('float64')
df18['M'] = df18['M'].astype('float64')
df18['ATOI'] = df18['H'] + (df18['M'] / 60.0)
df18.drop(['H', 'M'], axis=1, inplace=True)
df18.head()

,HockeyRefID,Player,Age,Tm,Pos,GP,G,A,PTS,PM,...,SOG,SPCT,TOI,ATOI,BLK,HIT,FOW,FOL,FOPCT,Season
0,kulakbr01,Brett Kulak,24,CGY,D,71,2,6,8,-3,...,73,2.7,922,12.983333,49.0,45,0.0,0.0,NaN,2018
1,jennebo01,Boone Jenner,24,CBJ,C,75,13,19,32,1,...,187,7.0,1235,16.466667,83.0,205,268.0,215.0,55.5,2018
2,lindhan01,Anton Lindholm,23,COL,D,48,0,4,4,4,...,22,0.0,632,13.166667,51.0,99,0.0,0.0,NaN,2018
3,megnaja01,Jayson Megna,27,VAN,C,1,0,0,0,0,...,0,NaN,4,4.300000,0.0,0,0.0,2.0,0.0,2018
4,fowleca01,Cam Fowler,26,ANA,D,67,8,24,32,3,...,122,6.6,1665,24.850000,108.0,21,1.0,1.0,50.0,2018

In [150]:
df18['BLK'] = df18['BLK'].fillna(0.0).astype('int64')
df18['FOW'] = df18['FOW'].fillna(0.0).astype('int64')
df18['FOL'] = df18['FOL'].fillna(0.0).astype('int64')
#df18['BLK'] = df18['BLK'].astype('int64')
#df18['BLK'] = df18[df18['BLK'].notnull()]['BLK'].astype('int64')
#df18['BLK'] = df18[df18['BLK'].notnull()].astype('int64')
#df18['FOW'] = df18['FOW'].astype('int64')
#df18['FOL'] = df18['FOL'].astype('int64')
df18.head()

,HockeyRefID,Player,Age,Tm,Pos,GP,G,A,PTS,PM,...,SOG,SPCT,TOI,ATOI,BLK,HIT,FOW,FOL,FOPCT,Season
0,kulakbr01,Brett Kulak,24,CGY,D,71,2,6,8,-3,...,73,2.7,922,12.983333,49,45,0,0,NaN,2018
1,jennebo01,Boone Jenner,24,CBJ,C,75,13,19,32,1,...,187,7.0,1235,16.466667,83,205,268,215,55.5,2018
2,lindhan01,Anton Lindholm,23,COL,D,48,0,4,4,4,...,22,0.0,632,13.166667,51,99,0,0,NaN,2018
3,megnaja01,Jayson Megna,27,VAN,C,1,0,0,0,0,...,0,NaN,4,4.300000,0,0,0,2,0.0,2018
4,fowleca01,Cam Fowler,26,ANA,D,67,8,24,32,3,...,122,6.6,1665,24.850000,108,21,1,1,50.0,2018

In [151]:
df18.dtypes, dfpre18.dtypes

(HockeyRefID     object
 Player          object
 Age              int64
 Tm              object
 Pos             object
 GP               int64
 G                int64
 A                int64
 PTS              int64
 PM               int64
 PIM              int64
 PS             float64
 EVG              int64
 PPG              int64
 SHG              int64
 GWG              int64
 EVA              int64
 PPA              int64
 SHA              int64
 SOG              int64
 SPCT           float64
 TOI              int64
 ATOI           float64
 BLK              int64
 HIT              int64
 FOW              int64
 FOL              int64
 FOPCT          float64
 Season           int64
 dtype: object, HockeyRefID     object
 Player          object
 Age              int64
 Tm              object
 Pos             object
 GP               int64
 G                int64
 A                int64
 PTS              int64
 PM               int64
 PIM              int64
 PS             float64
 EVG              int64
 PPG              int64
 SHG              int64
 GWG              int64
 EVA              int64
 PPA              int64
 SHA              int64
 SOG              int64
 SPCT           float64
 TOI              int64
 ATOI           float64
 BLK              int64
 HIT              int64
 FOW              int64
 FOL              int64
 FOPCT          float64
 Season           int64
 dtype: object)

In [156]:
dfall = dfpre18.append(df18)

In [157]:
dfpre18.shape, df18.shape, dfall.shape

((13056, 29), (890, 29), (13946, 29))

In [158]:
# sqlite
sqllite_db_conn = sqlite3.connect(path_to_db)

NameError: name 'path_to_db' is not defined

## Pandas

In [ ]:
# Importing data
df = pd.read_csv(path_to_csv, sep=',')

# Exporting data
df.to_sql(table_name, db_conn, if_exists="replace")

# Slicing
slice = df.iloc[slice_start:slice_end]

# df size
numrows = len(df)

## SQL

In [ ]:
# Cursor processing using SQL Lite
conn = sqlite3.connect(path_to_db) # create the db connection
cursor = conn.cursor()             # initiate the cursor
list_of_tuples = cursor.execute(sql_query_string).fetchall()
# or
df = pd.read_sql_squery(sql_query_string, conn)